
    <!-- slider -->
    <div class="slider">
            <ul class="slides">
              <li>
                <img src="../public/images/jigglypuff.png"> 
              </li>
            </ul>
          </div>



    <!-- nav bar -->
     <!-- slider -->
    <div class="slider">
        <ul class="slides">
            <li>
                <img src="../public/images/town.jpg">
            </li>
        </ul>
    </div>






    <!-- nav bar -->
    <nav>
        <div class="nav-wrapper red">
            <div class="nav-wrapper ">
                <a class="brand-logo white-text right">Account</a>
    </nav>



    <!-- main text -->
    <div class="container" id="account-card">
        <div class="row">
            <div class="col s12 m6">
                <div class="card-horizontal text center-align"><i class="material-icons large">account_circle</i>



                    <h1>Username </h1>
                    <p>Pokemon </p>
                </div>
            </div>
        </div>



        <div class="row">
            <div class="col s12">

                <a class="power right-align red darken-4 btn-small right z-depth-5 pulse" href="#!"><i
                        class="fas fa-caret-right"></i>
                    Start</a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-6 partybox" id="pokemon-collection">

            </div>
            <div class="col-6" class="partybox" id="current-party">

            </div>
        </div>
    </div>


    <!-- footer -->
    <footer class="foot">
        <a class="waves-effect waves-light red darken-4 btn-small" href="../public/index.html">Main Menu</a>
    </footer>

    <!-- javascript -->
    <script>
        // slider
        const slider = document.querySelector(".slider");
        M.Slider.init(slider, {
            indicators: false,
            height: 250,
            width: 250,
            transition: 500,
            interval: 6000
        });
    </script>


    <!-- javascript -->
    <script>
        // slider
        const slider = document.querySelector(".slider");
        M.Slider.init(slider, {
            indicators: false,
            height: 250,
            width: 250,
            transition: 500,
            interval: 6000
        });
    </script>






