<h1>pokeman</h1>
<div id="appendHere"></div>
<h2>billsPc</h2>
<div id="billspc"></div>
<div>
<button id="catchbtn">catch!</button>
</div>


<script>
    var user = "Nico"
    var oppJSON 
    var opp
    var natures = []
    var genNature
    $.ajax({
        url:"/api/natures",
        type:"GET"
    }).then(function(data){
        for(i=0;i<data.length;i++){
            natures.push(data[i])
        }
        console.log(natures)
    })


    wildPokemon()
    function wildPokemon(){
        genNature = Math.floor(Math.random()*25 + 1)
        $.ajax({
            url:"/api/wildPokemon", 
            type: "GET",
        }).then(function(data){
            oppJSON = data
            console.log(oppJSON)   

            opp = new monster(oppJSON[0])
            console.log(opp)

            renderMonster(opp)
            renderAlly(opp)

        })
        
    }


    function renderMonster(obj){
        if(obj.isShiny){
        var url = "/images/platinum/shiny/"+obj.pokedex_number+".png"
        }
        else{
        var url = "/images/platinum/"+obj.pokedex_number+".png"
        }
        var image = $("<img>").attr("src", url)
        $("#appendHere").append(image)
    }

    function renderAlly(obj){
        if(obj.isShiny){
        var url = "/images/platinum/back/shiny/"+obj.pokedex_number+".png"
        }
        else{
        var url = "/images/platinum/back/"+obj.pokedex_number+".png"
        }
        var image = $("<img>").attr("src", url)
        $("#appendHere").append(image)
    }


    class monster{
        constructor(obj){
            this.pokedex_number = obj.pokedex_number;
            this.name = obj.name;
            this.isShiny = (Math.floor(Math.random()*100 + 1)> 90);
            this.nature = natures[genNature];
            this.hp = obj.hp;
            this.attack = obj.attack;
            this.defense = obj.defense;
            this.sp_attack = obj.sp_attack;
            this.sp_defense = obj.sp_defense;
            this.speed = obj.speed;
        }

    }

    $("#catchbtn").on("click", function(opp,user){
        $.ajax("/api/caught/" + user, {
                            type: "POST",
                            data: opp
                        }).then(
                            function(data) {
                                console.log(data)
                                // Reload the page to get the updated list
                                //location.reload();
                            }
                        );
    })

    billsPc(user)
    function billsPc(query){
        $.ajax({
                url:"/api/billspc/"+query, 
                type: "GET",
            }).then(function(data){
                console.log(data)
        })
    }

</script>