body {
    font-family: 'Press Start 2P', cursive;
    background-image: url(../images/eOy5JWI.jpg);
    position: relative;
    padding-left: 0rem;
}
nav{
    height:7rem;
}

h1 {
    font-size: 30px;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: grey;
}

.btn,
.btn-large {
    box-shadow: none;
    border: 0px none transparent;
    float: right;
}

.btn:hover {
    box-shadow: none;
    border: 0px none transparent;
}

.btn-large:hover {
    box-shadow: none;
    border: 0px none transparent;
}

.textbox {
    width: 69rem;
    height: 510px;
    background: url(../images/txt.png);
    z-index: 1;
    margin-left: 6.35rem;
}


/* .inner {
    background-color: whitesmoke;
    background-image: url(../images/txt.png);
    text-align: center;
    width: 61.7rem;
    height: 24.2rem;
    word-wrap: break-word;
    overflow-y: scroll;
    margin-top: 5.2rem;
    right: 94.2rem;
    position: absolute;
    border-radius: 2rem;
    z-index: 0;
} */

.inner {
    
    border-radius: 3rem;
}

footer {
    margin: 110px 0px 0px 15px;
}

.mainbox {
    width: 1040px;
    height: 510px;
    margin-right: auto;
    margin-left: auto;
}

.middle {
    text-align: center;
}

.aboutUsDivs {
    background-color: grey;
    z-index: 3;
}

#logoSprite {
    width: 12%;
    height: 12%;
}

#textboxlocation {
    margin-bottom: 0rem;
    padding: 2rem;
    margin-top: -23rem;
    z-index: 2;
    width: 100%;
   
}

#aboutUsContainer {
    background-image: url(../images/8-bit-wallpaper-3.jpg);
    height: 150rem;
    padding-top: 5rem;
    line-height: 5rem;
}

#loginButton {
    margin-top: .25rem;
    margin-right: 1rem;
}

#modal1 {
    background-image: url(../images/8-bit-wallpaper-3.jpg);
    width: 50rem;
    height: 300rem;
    border-radius: 3rem;
    overflow: none;
    top: 15%;
    height: 41rem;
}

#modal2 {
    background-image: url(../images/8-bit-wallpaper-3.jpg);
    width: 50rem;
    height: 300rem;
    border-radius: 3rem;
    overflow: none;
    top: 15%;
    height: 31rem;
}

footer.foot {
    height: 50px;
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0px 5px 0px 15px;

}


.start {
    height: 250px;
    width: 100%;
    margin: 100px 0px 0px 0px;

}




@media screen and (max-width:1440px){
    html {
        width: 288%;
        height:100%;
    }
    /* .inner {
        background-color: whitesmoke;
        text-align: center;
        width: 61.7rem;
        height: 24.2rem;
        word-wrap: break-word;
        overflow-y: scroll;
        margin-top: 5.2rem;
        right: 94.2rem;
        position: absolute;
        border-radius: 2rem;
    } */
    

@media screen and (min-width:711px){
    html {
        width: 193%;
        height:100%;
    }
    /* .inner {
        background-color: whitesmoke;
        text-align: center;
        width: 61.7rem;
        height: 24.2rem;
        word-wrap: break-word;
        overflow-y: scroll;
        margin-top: 5.2rem;
        right: 94.2rem;
        position: absolute;
        border-radius: 2rem;
    } */
    
}
/* @media only screen and (max-width: 1104px) {
    body {
        background-image: url(../images/8-bit-wallpaper-3.jpg);
        font-size: 20px;
        
        background-size: 100%
    }
} */
@media only screen and (min-width: 1440px) {
    html {
        width:100%;
        /* .inner {
            background-color: whitesmoke;
            text-align: center;
            width: 61.7rem;
            height: 24.2rem;
            word-wrap: break-word;
            overflow-y: scroll;
            margin-top: 5.2rem;
            right: 94.2rem;
            position: absolute;
            border-radius: 2rem;
        }
         */
    }

   