::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: grey;
}

.btn,
.btn-large {
    box-shadow: none;
    border: 0px none transparent;
    float: right;
}

.btn:hover {
    box-shadow: none;
    border: 0px none transparent;
}

.btn-large:hover {
    box-shadow: none;
    border: 0px none transparent;
}

body {
    font-family: 'Press Start 2P', cursive;
    background: url(../images/pokemon-red-version-wallpaper-13.jpg);
}

h1 {
    font-size: 30px;
}


footer.foot {
    height: 2rem;
    position: absolute;
    /* bottom: 0; */
    width: 100%;
    margin-right: 10rem;

}

#userbox{
    border:solid;
}
#partybox {
    border:solid;
}
#bills-pc{
    border:solid;
}

.text {
    color: white;
    margin-top: 10rem;
}

.menu {
    margin: 0rem 5rem 0rem 15rem;
}

.power {
    margin-top: 10rem;
}


.card-horizontal {
    background: rgb(235, 23, 23);
}

/* @media screen and (max-width:1440px){
        html {
            width: 288%;
            height:100%;
        }
    }
        
    
    @media screen and (min-width:711px){
        html {
            width: 193%;
            height:100%;
        }
     
        
    }

    @media only screen and (min-width: 1440px) {
        html {
            width:100%;
           
        }
    
    } */