
body {
font-family: 'Press Start 2P', cursive;
background: gray;
}

h1 {
font-size:30px;
}


footer.foot {
    height: 50px;
    position: absolute;
    /* bottom: 0; */
    width: 100%;
    margin-right: 10px;
    
    }

.text {
    color:white;
    margin-top: 150px;
}

.menu {
    margin: 0px 5px 0px 15px;
}

.power {
    margin-top: 200px;
}


